<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">CSV Changer</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{{#if isHome}}active{{/if}}"><a>Home</a></li>
                <li class="{{#if isAbout}}active{{/if}}"><a>About</a></li>
                <li class="{{#if isContact}}active{{/if}}"><a>Contact</a></li>
            </ul>
        </div>
    </div>
</nav>